@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    text-align: center;
    font-family: 'VCR_OSD_MONO', monospace;
    background-color: black;
    color: white;
}